

<table class="table">
	<thead>
		<tr>													
			<th> Match Name </th>
			<th> Game </th>
			<th> </th>
		</tr>
	</thead>

	<tbody>
		<% @matches.each do |match| %>
			<tr>
				<td> <%= link_to match.name, match, class: "button btn btn-default" %></td>
				<td> <h6> <%= link_to match.game.name, nil, class: "button btn btn-default" %> </h6> </td>
				<td> <%= link_to "Edit", edit_match_path(match.id) %> </td>
			</tr>
		<% end %>	
	</tbody>

</table>




